<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/formularioUsuario.css">
    <script src="../js/mascota-perdida.js"></script>
    <script src="https://kit.fontawesome.com/7fcb757e78.js" crossorigin="anonymous"></script>
    <title>Diseño de sistemas</title>
</head>

<body>
    <!--========================================================== -->
    <!-- ENCABEZADO -->
    <!--========================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light p-3" id="menu" style="background-image: url('../img/banner.PNG');  height: 110px">
        <a class="navbar-brand" rel="home" href="../Inicio">
            <img style="max-width:100px;" src="../img/Logo/negro2.png">
        </a>
        <div class="container">
            <a class="navbar-brand" href="../Inicio">
                <span class="fs-5 text-dark fw-bold">Rescate De Patitas</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../Mascotas-Encontradas">Mascotas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Inicio#intro">Sistema</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Inicio#seccion-contacto">Contactos</a>
                    </li>
                </ul>
                <a href="../Perfil/1" class="nav-item nav-link" aria-expanded="false"><img src="../img/Avatar/avatar-gato.png" class="avatar" alt="Avatar" height="50" width="50"><b class="fs-5 text-dark fw-bold">Tom Hanks</b></a>
            </div>
        </div>
    </nav>
    </header>
    <div class="volver">
        <a href="../Mascotas-Encontradas" class="volver"><i class="fas fa-angle-double-left"></i>volver </a>
    </div>
    <main class="container">

        <h1>Mascota Perdida</h1>
        <div class="row mt-4">
            <div class="col-12">
                <form action="../forms/mascotaPerdida" method="post" class="border-top border-2 border-dark" enctype="multipart/form-data" id="form">
                    <h3 class="mt-4">Datos de Personales</h3>
                    <div class="row">
                        <div class="col-6">
                            <label for="nombre" class="form-label "> Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="nombre">
                            <label for="apellido" class="form-label "> Apellido</label>
                            <input type="text" class="form-control" name="apellido" id="apellido">
                            <label for="fechaNacimiento" class="form-label ">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" name="fechaNacimiento" id="fechaNacimiento">
                        </div>
                        <div class="col-6">
                            <label for="tipoDocumento" class="form-label "> Tipo de Documento</label>
                            <select name="tipoDocumento" id="tipoDocumento" class="form-select">
                                <option value="DNI">DNI</option>
                                <option value="PASAPORTE">Pasaporte</option>
                                <option value="PRECARIA">Precaria</option>
                            </select>
                            <label for="nroDocumento" class="form-label mt-2 "> Numero de Documento</label>
                            <input type="text" class="form-control" name="nroDocumento" id="nroDocumento">
                        </div>
                    </div>
                    <div class="row border-top border-secondary">
                        <h3 class="mt-4">Datos de Contacto</h3>
                        <div class="row mt-3">
                            <div class="col-6">

                                <div class="row">
                                    <div class="col-6">
                                        <label for="calle" class="form-label">Calle</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="direccion.calle" id='inpuDireccion'>
                                    </div>

                                </div>

                            </div>
                            <div class="col-6">

                                <div class="row">
                                    <div class="col-6">
                                        <label for="calle" class="form-label">Numero</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="direccion.numero">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-6">

                                <div class="row">
                                    <div class="col-6">
                                        <label for="calle" class="form-label">Departamento, Municipio o Comuna</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="direccion.departamento">
                                    </div>

                                </div>

                            </div>
                            <div class="col-6">

                                <div class="row">
                                    <div class="col-6">
                                        <label for="calle" class="form-label">Codigo postal</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="direccion.codigoPostal">
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-6">

                                <div class="row">
                                    <div class="col-6">
                                        <label for="calle" class="form-label">Ciudad</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="direccion.ciudad.nombre">
                                    </div>

                                </div>

                            </div>
                            <div class="col-6">

                                <div class="row">
                                    <div class="col-6">
                                        <label for="calle" class="form-label">Provincia</label>
                                    </div>
                                    <div class="col-6">
                                        <select name="direccion.ciudad.provincia.id" id="" class="form-select">
                                            <option value="none" selected disabled hidden>
                                                Select an Option
                                            </option>
                                            {{#each provincias}}
                                                <option value="{{id}}">{{nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="row ">
                                    <div class="col-3">
                                        <label for="" class="form-label">
                                            Telefono*
                                        </label>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="form-control" name="contacto.celular" id='telefono'>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="row ">
                                    <div class="col-3">
                                        <label for="" class="form-label">
                                            Correo*
                                        </label>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="form-control" placeholder="Ejemplo@gmail.com" name="contacto.mail" id="email">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row border-top border-secondary">
                        <h3 class="mt-4">Datos de la Mascota</h3>
                        <div class="col-12 ">
                            <div class="row">
                                <div class="col-6">
                                    <label for="especie" class="form-label ">Especie</label>
                                    <select class="form-select" name="especie" id="especie">
                                        <option value="PERRO">Perro</option>
                                        <option value="GATO">Gato</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="sexo" class="form-label ">Sexo</label>
                                    <select class="form-select" name="sexo" id="sexo">
                                        <option value="null">Desconoce</option>
                                        <option value="MACHO">Macho</option>
                                        <option value="HEMBRA">Hembra</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-9">
                                    <label for="" class="form-label">Agregar Imagen</label>
                                    <input type="file" class="form-control" name="imagen" accept=".png, .jpg">
                                </div>
                                <div class="col-3">
                                    <label for="" class="form-label "> ID Mascota</label>
                                    <input type="text" class="form-control" name="mascota">
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-12">
                                    <label for="" class="form-label">Personalidad</label>
                                    <ul style="list-style: none">
                                        <li><input class="form-check-input" type="checkbox" value="Tranquilo" name="Tranquilo" id="Tranquilo">
                                            <label class="form-check-label" for="Tranquilo">Tranquilo</label></li>

                                        <li><input class="form-check-input" type="checkbox" value="Pacífico" name="Pacifico" id="Pacifico">
                                            <label class="form-check-label" for="Pacifico">Pacífico</label></li>

                                        <li><input class="form-check-input" type="checkbox" value="Manso" name="Manso" id="Manso">
                                            <label class="form-check-label" for="Manso">Manso</label></li>

                                        <li><input class="form-check-input" type="checkbox" value="Delgado" name="Delgado" id="Delgado">
                                            <label class="form-check-label" for="Delgado">Delgado</label></li>

                                        <li><input class="form-check-input" type="checkbox" value="Amistoso" name="Amistoso" id="Amistoso">
                                            <label class="form-check-label" for="Amistoso">Amistoso</label></li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <div class="row border-top border-secondary">
                                <h3 class="mt-4">Caracteristicas especificas</h3>
                                <div class="col-12">
                                {{#each caracteristicas}}
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="" class="form-label">{{descripcion}}</label>
                                        </div>
                                        <div class="col-7">
                                            {{#if opciones}}
                                                <select class="form-select form-select-seguido" name="{{descripcion}}">
                                                    <option value="">Desconoce</option>
                                                {{#each opciones}}
                                                    <option value="{{valor}}">{{valor}}</option>
                                                {{/each}}
                                                </select>
                                            {{else}}
                                                <input type="text" class="form-control" name="{{descripcion}}">
                                            {{/if}}
                                        </div>
                                    </div>
                                   
                                {{/each}}
                                </div>
                                
                            </div>
                            <br>
                            <label for="descripcion" class="form-label "> Descripcion de la mascota</label>
                            <textarea id="descripcion" class="form-control" name="descripcion"></textarea>
                            <br>
                            <label for="direccionEncontrada " class="form-label ">Direccion donde se encontro</label>
                            <input type="text " class="form-control " name="lugarEncuentroMascota" id="direccionEncontrada">
                            <div class="row mt-5">
                                <div class="col-12 d-flex justify-content-center">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3035.277999585691!2d-58.52786464485551!3d-34.49496291787473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1629774484236!5m2!1ses-419!2sar" width="450" height="350" style="border:0;"
                                        allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                            <div class="row mt-6">
                                <div class="col-12 d-flex justify-content-center">
                                    <div>
                                        <button type="button" class="col-12 btn btn-secondary mb-3 mt-5" onclick='enviar()' style="background-color: blueviolet;">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </main>
    <footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
        <div id="iconos" >
            <a href="https://www.instagram.com/adopterosargentina/?hl=es-la" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/adopterosargentina/?hl=es-la" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com/adopterosargentina/?hl=es-la" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js "></script>
</body>

</html>